altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
docutils==0.21.2
git-filter-repo==2.45.0
idna==3.8
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
nodemon==0.0.10
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
pip-autoremove==0.10.0
Pygments==2.18.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pypiwin32==223
pyTelegramBotAPI==4.23.0
pywin32==306
pywin32-ctypes==0.2.3
requests==2.32.3
Rx==3.2.0
setuptools==74.1.2
telebot==0.0.5
urllib3==2.2.3
yt-dlp==2024.11.4
